TBD
.config.old
.kconfig.d
os/linux_32M
Config.OLD
T1
include/autoconf.h
setpte.txt
.config
doit.sh
*cmd
domains/
generated/
xhyp.ld
lxdialog
mconf
*.o
*.s
*.swp
*.a
cscope*
*.dom
tests/irq/irq_test
tests/linux_init/init
tests/mmu/main
xhyp
xhyp.nm
drivers/console/main

