
menu 'Secure Drivers'

config QPORT_CONSOLE
	bool "Qport console"
	help
	  XHYP qport console

config VIRTIO_CONSOLE
	bool "Virtio console"
	help
	  XHYP virtio console

config NETWORK
	bool "network"
	help
	  XHYP network

config DISK
	bool "disk"
	help
	  XHYP disk

endmenu


